@keyframes color-change {
    0% {
      color: rgba(0, 0, 255, 0.555);
    }
    25%{
        color:rgba(153, 205, 50, 0.678)
    }
    50% {
      color: rgba(255, 0, 0, 0.61);
    }
    75%{
        color:rgba(153, 205, 50, 0.733)
    } 
    100% {
      color: rgba(0, 0, 255, 0.548);
    }
}
h1:hover { animation: color-change 3s infinite; }



body {
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
    background-color: #0b82a7e0;
    color: #354c68d7;
}
h1 {
    color: #0d37be;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif; 
    text-align: center;
}
h2{
    font-size: 35px;
}

img{
    text-align: center;
    align-items: center;
    width: 450px;
}